body, ul, li, h1, h2, a{
    margin:0;
    padding:0;
    font-family: Arial;
}
header{
    /* position: relative;
    left: 100px;
    top: 100px;
    right: 100px; */
    background-color: #0C1559;
    position: fixed;
    padding: 20px;
    text-align: center;
    width: 100%;
    z-index: 1;
}
header h1{
    color: white;
    border: 8px solid white; 
    /* border-width:8px ;
    border-style: solid;
    border-color: white; */
    padding: 6px 12px;    
    /* padding-right: 12px;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px; */
    display: inline-block;
    border-radius: 36px;
    /* border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px; */
    /* border-top-left-radius: 36px; 
     border-top-right-radius: 36px; */
}
/* .banner{
    position: relative;
    left: 100px;
    right: 100px;
} */
.banner img{
    max-width: 100%;
    margin-top: 110px;
    /* border: 36px; */
    /* border-top-right-radius: 36px; 
    border-top-left-radius: 36px; 
    border-bottom-right-radius: 36px;
    border-bottom-left-radius: 36px; */
}
.banner .welcome{
    background-color: #0C1559;
    border-radius: 36px;
    text-align: center;
    color:white;
    padding:30px;
    /* position: absolute; 
    left:50%;
    top:80%; */
}
.banner h2{
    font-size:70px;
}
.banner h2 span{
    font-size: 100px;
}
nav{
    background-color:#dbd8d8;
    padding: 20px;
    position: sticky;
    top: 100px;
    border-radius: 36px;
}
nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
nav li{
    width: 25%;
    display: inline-block;
    font-size: 24px;
}
nav li a{
    text-decoration: none;
    color: #4b4b4b;
}
nav li a.join{
    color:  #0C1559;
}
main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}
article h2{
    color:#0C1559;
    font-size: 48px;
}
article p{
    line-height: 2rem;  
    color:#4b4b4b;
}
.images{
    text-align: center;
    margin: 80px 0;
    /* white-space: nowrap; */
}
.images li{
    display: inline-block;
    width: 50%;
    margin: 20px;
}
.images li img{
    width: 100%;
    height: 100%;
}
section.join{
    background: #f4f4f4;
    text-align: center;
    padding: 60px 20px;
    color: #4b4b4b;
}
section.join h2{
    font-size: 36px;
}
form input{
    margin: 20px;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 28px;
    border: 4px solid white;
}
footer{
    background:  #0C1559;
    color: white;
    padding: 10px;
    text-align: center;
}
/***************** Pseudo classes *****************/
nav li a:hover{
    text-decoration: underline;
    /* background-color: skyblue;
    padding: 1rem;
    border: 2px solid blue;
    border-radius: 36px; */
}
.images li:hover{
    position: relative;
    top: -8px;
    box-shadow: 8px 8px 20px #010c5b; 
}
form input:focus{
    border: 4px dashed #4b4b4b;
    outline: none;
}
form input:valid{
    border: 4px solid greenyellow;
}
/* nav li:first-child{
    border: 3px solid #0C1559;
} */
/***************** Pseudo Elements *****************/
article p::first-line{
    font-weight: bold;
    font-size: 1.2rem;
}
section.join p::first-letter{
    font-weight: bold;
    font-size: 1.5rem;
}
section.join p::selection{
    background-color: #0C1559;
}
p::selection{
    background-color: #0C1559;
    color: white;
}
p::after{
    content: '...';
}

/***************** responsive styles *****************/
@media screen and (max-width: 1400px){
    .banner .welcome h2{
        font-size: 60px;
    }
    nav li{
    font-size: 28px;
    }
}
@media screen and (max-width: 960px){
    .banner .welcome h2{
        font-size: 60px;
    }
    nav li{
        font-size: 20px;
        }
}
@media screen and (max-width: 700px){
    .banner .welcome{
        position: relative;
        text-align: center;
        padding: 10px;
    }
    .banner .welcome{
        display: none;
    }
    .banner .welcome h2{
        font-size: 25px;
    }
    .banner .welcome span{
        font-size: 10rem;
    }
    .images li{
        width: 100%;
        margin: 20px auto;
        display: block;
    }
}
@media screen and (max-width: 560px){
    nav li{
        font-size: 18px;
        display: block;
        width: 100%;
        margin: 12px 0;
    }
    header{
        position: relative;
    }
    nav{
        top: 0;
    }
}